h1 {
    color: peru;
}

p {
    color: blue;
}

button {
    color: brown;
    background-color: chartreuse;
}

body {
    background-color: rgb(0, 255, 255);
    /*use color picker website for rgb values*/
}

h2 {
    color: #0000ff;
    /* color pallete website for hexadecimal color */
}

/*
*{
     color: aqua;  
}   
 */
/*      Note : astrisc selector is a universal seletor, that can change all the text color same. 
*/

/* Id selector */

#heading2 {
    color: red;
}

#heading3 {
    color: #808080;
}

.myClass {
    color: crimson;
}

#box {
    background-color: blue;
    /*  color: white; */
}

.heading {
    color: blueviolet;
}

/* h3,h4,h5{
    color: blueviolet;                 (selector work in comma)
} */

#paragraph {
    text-align: right;
    /* using id selector */
}

#para {
    text-align: center;
}

#h1 {
    text-align: center;
}

#deco {
    text-align: center;
}

#deco1 {
    text-align: start;
    text-decoration: underline;
}

#deco2 {
    text-align: left;
    text-decoration: overline;
}

#deco3 {
    text-align: start;
    text-decoration: line-through;
}